.contianer-auth {
  width: 350px;
  height: 650px;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(#888888, 0.2);
}
