@import "../../../assets/scss/variable.scss";

.btn {
  border: none;
  height: 38px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: $primaryColor;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #1573ff;
  }
}
