.nav-contact {
    &__title {
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__avatar {
        height: 46px;
        width: 46px;
    }
    &__one {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
