.content-massenage {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    &--user {
        flex-direction: row-reverse;
    }
    &__avatar {
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &__img {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        margin-right: 10px;
        &--user {
            margin-left: 10px;
        }
    }
    &__main {
        background-color: white;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        &--user {
            background-color: #dae9ff;
        }
    }
    &__name {
        font-weight: 300;
        color: #555555;
        margin-bottom: 5px;
        font-size: 13px;
    }
    &__time {
        font-size: 11px;
        margin-top: 3px;
        font-weight: 300;
        color: #666666;
    }
}
.massenage-scroll {
    overflow: scroll;
    height: calc(100vh - 150px);
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-color: white white;
    scrollbar-width: none;
}
.react-scroll-to-bottom--css-hgyba-1n7m0yu {
    scrollbar-width: thin;
}
