.input {
  position: relative;
  width: 100%;
  &__error {
    color: tomato;
    font-size: 10px;
    height: 13px;
    margin-top: 2px;
  }
  &__input {
    border: none;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0);
    padding-left: 5px;
  }
  &__main {
    border: solid;
    height: 38px;
    border: {
      width: 1px;
      color: #ddd;
      radius: 5px;
    }
    display: flex;
    align-items: center;
  }
}
