.main-layout {
    display: flex;
    &__container {
        width: 100%;
        display: flex;
    }
    &__side-bar {
        width: 300px;
        border-right: solid;
        display: flex;
        flex-direction: column;
        border: {
            width: 1px;
            color: #efefef;
        }
    }
    &__content {
        flex: 1;
    }
}
