.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f8fb;
  height: 100%;
  width: 100%;
  &__form {
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  &__logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
