@import "../../assets/scss/variable.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgColorBlank;
  height: 100%;
  width: 100%;
  &__form {
    width: 100%;
    margin-bottom: 30px;
  }
  &__logo {
    margin-bottom: 50px;
  }
  &__link {
    text-decoration: none;
    color: $primaryColor;
    font-size: 13px;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__sub {
    font-size: 10px;
    color: #777777;
    margin-top: 60px;
  }
  &__btn {
    margin-top: 10px;
  }
}
