.home-title {
  text-align: center;
  max-width: 500px;
  color: #343434;
  &__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  &__content {
    font-size: 14px;
    line-height: 1.6;
  }
}
