body,
button {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  font-family: "Montserrat", sans-serif;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-family: "Montserrat", sans-serif;
  }
}
* {
  box-sizing: border-box;
}
