.form-room {
    display: flex;
    align-items: center;
    padding: 10px;
    &__input {
        flex: 1;
        height: 40px;
        border: solid;
        border-radius: 46px;
        border-width: 1px;
        border-color: #dddddd;
        padding-left: 10px;
    }
    &__btn {
        height: 46px;
        width: 46px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
    }
}
